html, body {
	position: relative;
	width: 100%;
	height: 100%;

	--primary-color:lightblue;
	--secondary-color: lightgray;
	--background-color: white;
	--primary-text-color: black;
	--secondary-text-color:	grey;
	--highlight-color: pink;
	--focus-color: white;
	--active-color: lightgrey;

	/* --primary-color: #789922;
	--secondary-color: lightgray;
	--background-color: #d9e6ff;
	--primary-text-color: #cc4a4a;
	--secondary-text-color: #789922;
	--highlight-color: #cc4a4a;
	--focus-color: white;
	--active-color: #d9e6ff; */

	background-color: var(--background-color, white);
}

.delete {
	--delete-color: red;

	/* --delete-color: #5c3c82; */
}

.modal .cancel {
	--button-text-color: red;
	--button-background-color: rgb(253, 229, 232);

	/* --button-text-color: #5c3c82;
	--button-background-color: #7149a24f; */
}

.modal .submit {
	--button-text-color: blue;
	--button-background-color: rgb(235, 246, 250);

	/* --button-text-color: #789922;
	--button-background-color: #97c42252; */
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	/* margin: 0 0 0.5em 0; */
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	/* background-color: #f4f4f4; */
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	/* background-color: #ddd; */
}

button:focus {
	border-color: #666;
}